.d-editor-preview details,
.user-stream-item details,
.topic-body details {
    background: color-mix(in srgb, var(--tertiary) 8%, transparent);
}

.user-stream-item details[open] summary {
    margin-bottom: 0.75em;
}

.user-stream-item details {
    padding: 0.75em;
}

/*
.d-editor-preview details>*,  
.topic-body details>* {
    margin-left: 0.75em;
    margin-right: 0.75em;
}
*/

/* This is trying to fix weird margin behaviour of the last child in the details. */
.d-editor-preview details[open],
.topic-body details[open] {
    padding-bottom: 0.001em;
}

.d-editor-preview details~details,
.topic-body details~details {
    margin-top: 0.75em;
}

.d-editor-preview details summary::before,
.topic-body details summary::before {
    color: var(--tertiary);
}
    
.d-editor-preview details summary:focus,
.d-editor-preview details summary:hover,
.topic-body details summary:focus,
.topic-body details summary:hover {
   /* background: color-mix(in srgb, var(--tertiary) 8%, transparent);  */
}

.d-editor-preview details summary:active,
.topic-body details summary:active {
    /* background: color-mix(in srgb, var(--tertiary) 8%, transparent);  */
}

.d-editor-preview details details:nth-child(2),
.topic-body details details:nth-child(2) {
    margin-top: 0.75em;
}

.d-editor-preview details details:last-child,
.topic-body details details:last-child {
    margin-bottom: 0.75em;
}

.topic-body .cooked details,
details .d-editor-preview,
details.details__boxed {
    background-color: var(--primary-very-low);
    padding: .25rem .75rem;
    margin-bottom: .5rem;
    background: color-mix(in srgb, var(--tertiary) 8%, transparent);
}








div.container.posts details {
    /* outline: 3px solid #adadd1; */
    padding: 0;
    border-radius: 3px;
    outline: 1px solid var(--primary-low);
}

.topic-body .cooked details,
details .d-editor-preview,
details.details__boxed,
div.container.posts details[open],
div.container.posts details.open,
.topic-body .cooked details:not([open]):focus-within,
details .d-editor-preview:not([open]):focus-within,
details.details__boxed:not([open]):focus-within {
    background-color: var(--secondary);
    background-image: url("data:image/svg+xml,%3Csvg width='100%25' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.4'/%3E%3C/filter%3E%3C/defs%3E%3C!-- %3Cpath filter='url(%23a)' opacity='.3' d='M0 0h1200v256H0z'/%3E--%3E%3Crect filter='url(%23a)' opacity='.3' width='100%25' height='100%25'/%3E%3C/svg%3E");
}

.topic-body .cooked details:not([open]):hover,
.topic-body .cooked details:not([open]):focus,
details .d-editor-preview:not([open]):hover,
details .d-editor-preview:not([open]):focus,
details.details__boxed:not([open]):hover,
details.details__boxed:not([open]):focus {
    background: color-mix(in srgb, var(--tertiary) 8%, transparent);
    background-image: url("data:image/svg+xml,%3Csvg width='100%25' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.4'/%3E%3C/filter%3E%3C/defs%3E%3C!-- %3Cpath filter='url(%23a)' opacity='.3' d='M0 0h1200v256H0z'/%3E--%3E%3Crect filter='url(%23a)' opacity='.3' width='100%25' height='100%25'/%3E%3C/svg%3E");
}

div.container.posts details[open],
div.container.posts details.open {
    padding-bottom: 1px;
}

.d-editor-preview details summary::before,
.topic-body details summary::before {
    color: var(--tertiary);
    filter: drop-shadow(1px 4px 2px rgba(0,0,0,0.4));
    content: "\25BA";
    margin-right: 0;
    padding-right: 10px;
    padding-left: 15px;
    font-size: large;
}

details > summary:first-of-type {
    padding: 5px;
}

details[open]>summary:first-of-type ~ *,
details.open>summary:first-of-type ~ * {
    margin: 20px;
}

.d-editor-preview details[open]>summary,
.topic-body details[open]>summary {
    border-bottom: .1em solid var(--secondary);
    background: color-mix(in srgb, var(--tertiary) 8%, transparent);
}

